body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f4f6f8;
}

.header {
  background-color: #0078d4;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.header h1 {
  font-size: 20px;
}
.main-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 200px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 8px 0;
  cursor: pointer;
}

.student-list {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.student-card {
  background-color: #e8f0fe;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: left;
  transition: transform 0.3s;
}

.student-card:hover {
  transform: scale(1.05);
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #0078d4;
  color: white;
  margin-top: 20px;
  border-top: 3px solid #005a9e;
}
